<style>
    .message-content {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 22px;
    }

    .button-link {
        background-color: #555555;
        border-radius: 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: cursive;
    }
</style>


<div class="message-content">

    <p>Hello <b>{{name}}</b>!</p>
    <br>
    <br>
    <p>Forgot Password ?</p>
    <p>We received a request to reset the password for your account.</p>
    <br>
    <p>To reset your password, click on the button below.</p>
    <a href="{{link}}"><button type="button" class="button-link">Reset password</button>
    </a>

</div>