<style>
    .message-content {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 22px;
    }
</style>



<div class="message-content">

    <p>Hello <b>{{name}}</b>!</p>
    <br>
    <br>
    <p>Forgot Password ?</p>
    <p>We received a request to reset the password for your account.</p>
    <br>
    <p>To reset your password, click on the button below.</p>
    <a href="{{link}}"><button type="button">Reset password</button>
    </a>

</div>